
<center> 
<h1 id='main'>신이 나를 만들때!</h1>

<div class="container">
<div class="row">
  <div id="an" class="col-sm-3"><%= @A %>을 <%= @m1 %>숟가락<img class="imgone" src=https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRnltV-TziOGbdsFrXXsbnl651mEO17nXzKMTUtXt0GwU87uwBB7g></div> 
  <div id="bn" class="col-sm-3"><%= @B %>을 <%= @m2 %>숟가락<img class="imgtwo" src=https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSClRAagHNFoO_RtMFkocttM_B7DBtOeyRlaJ3JGYIQNwIiHCiDCg></div> 
  <div id="cn" class="col-sm-3"><%= @C %>을 <%= @m3 %>숟가락<img class="imgthree" src=https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTtZPtQl-75H3OFRGj67gapaffOWbMGLKgYZLPFqi1IWNhrPZngXw></div>
  <div id="dn" class="col-sm=3"><%= @D %>을 <%= @m4 %>숟가락<img class="imgfour" src=https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTtZPtQl-75H3OFRGj67gapaffOWbMGLKgYZLPFqi1IWNhrPZngXw></div>
</div>
</div>

</center>